[2013-10-25 15:38] DocLeon opened #15 "AssertWasCalled method throwing FileLoadException in projects not using NUnit 2.6.2"
If you update NUnit in the IntegrationTests project then the HttpExcpectationTests fail with a System.IO.FileLoadException and the message:
'Could not load file or assembly 'nunit.framework, Version=2.6.2.12296...'

The reference to NUnit in the HttpMock project has the property 'Specific Version' set to true.

[2013-11-01 15:58] #15 closed, assigned to hibri

[2013-11-06 10:48] hibri opened #16 "Cannot use multiple Url constraints"
Cannot use more than one url constraint for the same endpoint.

[2013-11-20 19:20] georgehemmings opened #17 "SocketException: An existing connection was forcibly closed by the remote host"
Hi

I'm getting a SocketException at the end of my test run. Is this normal?

Can you confirm that I should be Disposing the IHttpServer instance?

Thanks
George

[2014-03-17 17:11] #17 closed, assigned to nobody

[2014-03-21 10:54] hibri opened #18 "Replace Kayak"

[2014-03-21 11:08] juamei opened #19 "AssertWasNotCalled & AssertWasCalled broken"
The two Assert methods (AssertWasNotCalled & AssertWasCalled) in HttpServer are both broken. Debugging shows that the path and method parameters are called the wrong way round so in the test below path comes through as "POST" whilst method comes through as "/api/echo" or "/api/status". The simple nunit test method below shows AssertWasNotCalled returning true when it should return false.

[code]

[2014-03-21 12:01] #19 closed, assigned to nobody

[2014-03-28 17:53] nikklassen opened #23 "Summaries for API"
It would be nice to have documentation for the public classes, at least in the form of XML comments.

[2014-04-11 14:59] juamei opened #24 "Invalid GET request breaks server"
A GET request with a trailing ampersand (&) causes the mock server to return no data. If you paste the below tests into the end of MultipleTestsUsingTheSameStubServerAndDifferentUris.cs you can see the issue. It could be this is a kayak issue...

The spec is clear that this should be supported despite the url not being properly formatted.

[code]

[2014-07-25 11:55] hibri opened #27 "Stubs are not matched when they are more specific. The first matching stub is returned"
[code]

[2014-07-25 11:56] #27 closed, assigned to nobody

[2014-12-18 13:42] #24 closed, assigned to hibri

[2015-08-13 19:59] stevenao opened #28 "RequestHandler.LastRequest() returns a truncated RecievedRequest body"
I am setting a json in the body. I want to check the received request body. I see that the body is truncated.

[2015-08-13 21:20] hibri commented on #28
@stevenao Thanks for reporting this. Would you be able to send me a test to reproduce the issue ? Or the tests you are writing

[2015-08-18 18:10] stevenao commented on #28
@hibri Sure. I have added a test in the HttpEndPointTests.cs

[code]

[2015-08-22 14:10] #28 closed

[2015-08-22 14:16] hibri commented on #28
@stevenao Pushed a new version with a fix for this. It's in 1.1.6

[2015-08-22 14:17] #23 closed

[2015-09-01 20:30] mfilippov commented on #18
What you think about Nowin https://github.com/Bobris/Nowin? This is pure .NET web server. You can build you own OWIN middleware without routing and etc.

[2015-09-04 10:28] hibri commented on #18
@mfilippov  thanks for that. I'll look into it. Feel free to send me a PR with a spike :)

[2015-09-04 17:16] oschwald opened #31 "Unclear licensing"
This library looks great, but the license does not appear to grant permission to use or copy the software. Would you consider putting this under a standard license such as MIT or [ISC](https://en.wikipedia.org/wiki/ISC_license)?

[2015-09-04 17:40] hibri commented on #31
Hi Gregory,
Yes I will. That was the intention all along, never got around to it.

[2015-09-04 17:44] oschwald commented on #31
Great. Thanks! :+1:

[2015-09-04 17:57] oschwald opened #32 "Expose PortHelper functionality"
It would be great to be able to run the server on a random open port to prevent possible collisions due to hard coding a particular port. I notice that you already have this functionality for your internal unit tests. It would be nice if it was exposed to users of the library in some way so that we don't have to duplicate that code ourselves.

[2015-09-04 18:19] oschwald commented on #18
FWIW, I am running into this issue with Kayak when trying to use this library (everything installed from NuGet):

[code]

[2015-09-05 10:07] hibri commented on #32
@oschwald  Can you let me know what scenario you envisage using this with ?
The server and port are usually configured in the system under test in a config file, where the URL for the actual API would be, so it always has to be a known host and port.

[2015-09-05 10:26] hibri commented on #18
@oschwald  could you please reproduce this and raise a separate issue for this ? I'd like to fix it with the current implementation if possible. Thanks for reporting it :)

[2015-09-05 10:30] #31 closed

[2015-09-06 18:10] oschwald commented on #32
@hibri, my use case was testing a web service client API (that allows the setting of the host and port) on a CI machine that may have several builds running at once. That said, I ended up creating abstractions over `HttpClient` and `HttpWebRequest` and mocked those out rather than using a test server. This caused some code duplication and less coverage, but it simplified the testing setup.

[2015-09-06 18:10] oschwald commented on #31
Thanks again!

[2015-09-06 18:28] oschwald opened #34 "NuGet dependency on Kayak should be versioned (was: Kayak causing System.TypeLoadException)"
This is a follow-up to my comment in #18. I created a [test repo](https://github.com/oschwald/http-mock-test) with a project that exhibits the issue for me with VS 2015. The dependencies were all installed with NuGet.

The full output when run by the NUnit runner is:

[code]

[2015-09-08 16:28] hibri commented on #34
@oschwald Thanks for creating the test repo. Noticed that you had an older version of kayak in the packages.config.

https://github.com/oschwald/http-mock-test/blob/master/ClassLibrary2/packages.config#L4
The default package install of HttpMock pulls in the latest version of Kayak is 0.7.2

[2015-09-08 16:41] oschwald commented on #34
I just created that solution for this and I installed HttpMock through NuGet. I did not install Kayak directly. Looking at [the HttpMock NuGet page](https://www.nuget.org/packages/HttpMock/), there isn't a versioned dependency on Kayak. Maybe it would be worth updating that, assuming that the newest version fixes the issue.

[2015-09-09 09:12] hibri commented on #34
The issue is fixed in the latest version. The type wasn't there in the old version. The latest version of Kayak predates HttpMock. HttpMock was always written against 0.7.2

Nuget should pull in the latest version, not sure why it didn't in this case.

[2015-09-09 13:53] oschwald commented on #34
NuGet failed to pull the latest version both for this test project and my use in a real project. Is there a reason not to add a minimum version to the `.nuspec` to prevent this in the future?

[2015-09-09 20:12] hibri commented on #34
Nope don't see a reason, and will add it.  Feel free to raise a PR too.

[2015-09-10 02:09] oschwald commented on #34
Per the [NuGet v3 documentation](http://docs.nuget.org/consume/ProjectJson-Dependency), "NuGet restores the lowest possible version of a package as defined by its dependencies." However, I will close this issue given the above discussion.

[2015-09-10 02:09] #34 closed

[2016-06-14 17:26] tysonnero opened #37 ".NET Core Support"
Are there any plans to release a version with .NET Core support?

[2016-06-14 18:41] hibri commented on #37
Hi @tysonnero Not yet. will wait till there is a stable version. But there will be :)

[2016-07-14 19:54] ykeysergit opened #38 "Duplicate query parameters not supported"
When I use withParams(queryParams), the duplicate query parameter overrides the original query parameter. I would like to have something like ?date=123&date=678. Is there an elegant work-around?

[2016-07-15 08:26] hibri commented on #38
Hi @ykeysergit,

Not at the moment. The query string is parsed into a Dictionary, https://github.com/hibri/HttpMock/blob/master/src/HttpMock/EndpointMatchingRule.cs#L51

Will think of something over the weekend. Happy to accept a PR too.

What is your test scenario ?

[2016-07-15 16:50] ykeysergit commented on #38
Test scenario:
?date=gt2016-06-12&date=le2016-06-13

I was able to use url-constraint as a work-around, but addQueryParamter is much more elegant :) Thanks for looking into it!

[2016-07-17 17:01] hibri commented on #38
@ykeysergit Thanks. I'll consider this for the next release.

[2016-07-17 17:06] hibri commented on #32
PortHelper has been moved out of HttpMock, it's now the responsibility of the tests to manage ports of a stub. Feel free to use the code PortHelper code in the Integration test suite

[2016-07-17 17:06] #32 closed

[2016-07-17 17:07] #16 closed

[2016-07-19 14:48] #38 closed

[2016-07-19 15:40] ykeysergit opened #40 "AssertWasCalled relies on out-dated NUnit framework"
Isn't compatible with NUnit 3.x. Could you please upgrade NUnit? Otherwise, AssertWasCalled isn't usable.

[2016-07-19 17:24] #40 closed

[2016-07-19 17:34] hibri commented on #40
Thanks @ykeysergit . A new version has been published

[2016-07-19 23:07] ykeysergit opened #42 "When using AssertWasCalled, IRequestVerify is not fluent"
Times, WithHeader return void. Could you please make this fluent? For example, server.AssertWasCalled(x => x.Get("/endpoint").WithHeader("header",Is.EqualTo("ABC")).Times(1).

[2016-07-20 00:02] ykeysergit opened #43 "Unable to Dispose multiple servers"
Works for two, but not for three...

at Kayak.KayakServerState.SetClosing() in h:\kayak\Kayak\Net\Server\KayakServerState.cs:line 88
   at Kayak.DefaultKayakServer.Close() in h:\kayak\Kayak\Net\Server\KayakServer.cs:line 63
   at Kayak.DefaultKayakServer.<Listen>b__0() in h:\kayak\Kayak\Net\Server\KayakServer.cs:line 58
   at Kayak.Disposable.Dispose() in h:\kayak\Kayak\Disposable.cs:line 19
   at

[2016-07-20 00:50] ykeysergit commented on #43
Unable to reproduce

[2016-07-20 00:50] #43 closed

[2016-07-20 02:36] ykeysergit opened #44 "AssertWasCalled.WithHeader not reusable after first request"
WithHeader only looks at the last request. Hence, AssertWithCall(x=>x.Post("/").WithHeader("a",...) and AssertWithCall(x=>x.Post("/").WithHeader("b",...) doesn't work.  The error says that the the second request did not have the expected header b.

Diving into the code, it seems that the RequestVerify looks for the first handler that matches the path.

[2016-07-20 08:15] hibri commented on #44
This was by design. It looks at the last request for the handler.
All the requests that are made to a handler are recorded, so it will be possible to to a search. Will have to make the search smarter.

Thanks for suggesting this.

[2016-07-20 15:29] #44 closed

[2016-07-26 19:54] ykeysergit opened #45 "Creating/Disposing the same server"
I have a test suite which creates/disposes a server multiple times. Server.IsAvailable() returns true, but the HTTP request hangs until timeout. When I ran the tests individually, they pass.

[2016-07-26 20:11] hibri commented on #45
Hi @ykeysergit,
Can you reproduce it  ? and send me the test suite ?

Thanks.

[2016-07-26 20:16] ykeysergit commented on #45
Yes. Consistently. The test suite is like...

`public void Test1(){
var server = fixture.createServer()
try{
...
}
finally{
server.Dispose();
}
}

public void Test1(){
var server = fixture.createServer()
try{
...
}
finally{
server.Dispose();
}
}

`

Seems like there's a thread in the framework which is still running.

[2016-07-26 20:30] hibri commented on #45
What is behind fixture.createServer ?

A correct usage example is here https://github.com/hibri/HttpMock/blob/master/src/HttpMock.Integration.Tests/HttpFactoryTests.cs
and here

https://github.com/hibri/HttpMock/blob/master/src/HttpMock.Integration.Tests/MultipleTestsUsingTheSameStubServerWithDifferentHttpMethods.cs#L8

I suggest sharing the mock server between tests, to avoid the cost of destroyi

[2016-07-26 20:33] ykeysergit commented on #45
I did this so I can AssertWasCall with different expectations. Otherwise, the success of one test case may propogate to the next. I'll try WithNewContext.

[2016-07-26 21:16] ykeysergit commented on #45
I think it may be due to something due to how I created the server. Stand by.

[2016-07-26 21:35] ykeysergit commented on #45
Ok. The root cause is on my end. Thanks for your input!

[2016-07-26 21:35] #45 closed

[2016-07-27 00:36] ykeysergit opened #46 "WithNewContext doesn't allow additional routes"
The routes disappeared. Getting empty response.

[2016-07-27 01:01] #46 closed

[2016-07-27 16:52] ykeysergit opened #47 "HttpServer.Dispose unexpectedly disposes all http servers"
I noticed that calling dispose on one server, disposes the other servers. I verified with IsAvailable that the other servers were shutdown.

 public void Dispose()
        {
            if (_scheduler != null)
            {
                _scheduler.Stop();
                _scheduler.Dispose();
            }
            if (_disposableServer != null)
            {
                _disposableServe

[2016-07-27 16:58] hibri commented on #47
There is only one server for each IP/Port combination.

[2016-07-27 16:59] ykeysergit commented on #47
I have used different ports for each IHttpServer object. Does Kayak use port too?

[2016-07-27 17:04] hibri commented on #47
Could you please send a test suite that reproduces the issue ?

[2016-07-27 17:06] ykeysergit commented on #47
IHttpServer serverA=null, serverB=null, server=null;

try{
serverA = createA();
serverB = createB();
serverC= createC();
}
finally{
serverA.Dispose();
serverB.Dispose()
serverC.Dispose();
}

[2016-07-27 17:14] hibri commented on #47
I'll need the full code :)  What is inside createA() ...

[2016-07-27 17:44] ykeysergit commented on #47
I'm not allowed to release the code. I've written some tests around it. I've been able to narrow it down to FactoryGirl. Thanks for your input!

[2016-07-27 17:44] #47 closed

[2016-07-27 22:09] ykeysergit opened #48 "HttpServer.WhatDoIhave() doesn't print url constraints"
This would be very helpful to see for debugging purposes.

[2016-07-28 00:33] ykeysergit opened #49 "Duplicate params in query string"
WithParams doesn't support dup query params. I couldn't find a workaround.

In QueryParamMatch, there is...
if (!String.Equals(requestQueryParams[queryParam.Key], queryParam.Value, StringComparison.OrdinalIgnoreCase)) {
					return false;
				}

Could you please change it such that it uses requestQueryParams.Values given a key? That way, it can support dup query params polymorphically.

In Endpoin

[2016-07-28 01:01] #48 closed

[2016-07-28 01:09] ykeysergit commented on #49
Test code...

IHttpServer serverA = null;

            Dictionary<string, string> queryParams1 = new Dictionary<string, string>();
            queryParams1.Add("value", "1");

            Dictionary<string, string> queryParams2 = new Dictionary<string, string>();
            queryParams1.Add("value", "2");

            serverA = HttpMockRepository.At("http://localhost:9080");
            serverA.S

[2016-07-28 01:24] ykeysergit commented on #49
Test code...

            IHttpServer serverA = null;

            Dictionary<string, string> queryParams1 = new Dictionary<string, string>();
            queryParams1.Add("value", "1");

            Dictionary<string, string> queryParams2 = new Dictionary<string, string>();
            queryParams2.Add("value", "2");

            serverA = HttpMockRepository.At("http://localhost:9080");

[2016-07-28 01:36] ykeysergit commented on #49
IHttpServer serverA = null;

            Dictionary<string, string> queryParams1 = new Dictionary<string, string>();
            queryParams1.Add("value", "1");

            Dictionary<string, string> queryParams2 = new Dictionary<string, string>();
            queryParams2.Add("value", "2");

            serverA = HttpMockRepository.At("http://localhost:9080");
            serverA.Stub(x => x.Get

[2016-07-28 01:44] ykeysergit commented on #49
IHttpServer serverA = null;

            Dictionary<string, string> queryParams1 = new Dictionary<string, string>();
            queryParams1.Add("value", "1");
            queryParams1.Add("value2", "11");

            Dictionary<string, string> queryParams2 = new Dictionary<string, string>();
            queryParams2.Add("value", "2");

            serverA = HttpMockRepository.At("http://localho

[2016-07-28 02:52] ykeysergit opened #50 "HttpMock not extensible"
Could you please use Dependency Injection in HttpServer? For example, HttpServer(URI) has dependencies which cannot be extended.

[2016-07-28 02:58] #50 closed

[2016-07-28 02:59] #49 closed

[2016-07-28 13:22] ykeysergit opened #51 "WithURLConstraint is not stub-specific"
IHttpServer serverA = null;

            serverA = HttpMockRepository.At("http://localhost:10100");
            serverA.Stub(x => x.Get("/PingList")).WithUrlConstraint(u => u.Contains("date=1-2")).Return("1").OK();
            serverA.Stub(x => x.Get("/PingList")).WithUrlConstraint(u => u.Contains("date=1-2-3")).Return("2").OK();

            var client = new RestClient("http://localhost:10100");

[2016-07-28 13:25] ykeysergit commented on #51
IHttpServer serverA = null;

            serverA = HttpMockRepository.At("http://localhost:10100");
            serverA.Stub(x => x.Get("/PingList")).WithUrlConstraint(u => u.Contains("date=1-2")).Return("1").OK();
            serverA.Stub(x => x.Get("/PingList")).WithUrlConstraint(u => u.Contains("date=1-2-3")).Return("2").OK();

            var client = new RestClient("http://localhost:10100");

[2016-07-28 13:28] ykeysergit opened #52 "Dup query params"
Could you please add support for dup query params? WithURLConstraint doesn't work to resolve this.

[2016-08-01 08:18] hibri commented on #52
Will be looking into this scenario. Thanks :)

[2016-08-05 15:54] ykeysergit opened #53 "Not able to stub path with parentheses"
Example:

/resource('2222')

Seems like MatchPath's regex doesn't escape parentheses.

[2016-08-05 16:03] ykeysergit commented on #53
Workaround: escape Get stub

[2016-08-05 16:03] #53 closed

[2016-08-05 20:21] ykeysergit opened #54 "Unable to print http payload"
Could you please add a method like request.getBody():string?

[2016-08-09 10:25] hibri commented on #54
Hi @ykeysergit Apologies for the delayed reply.  Can you explain a bit more about why you'd need this ?

[2016-08-09 15:57] ykeysergit commented on #54
Oops. Wrong framework

[2016-08-09 15:57] #54 closed

[2016-08-12 16:49] ykeysergit opened #55 "Stub route: unable to put a constraint on POST body"
I don't see a feature to put a constraint on the POST body when writing a stub.

[2016-08-19 19:46] marceloinacio opened #56 "Regex issue"
Hi, I am using HttpMock in our UnitTests.
I had a problem with a large Url request. (404 Not Found)

On EndpointMatchingRule.cs #line 42 and for pathMatch.IsMatch(pathToMatch) is returning false
The interesting is if I send a request with more than 5K of "A" like "http://localhost:9191/AAAAAAAAA....
I have no problem.

I am attaching my example.
Thank you

Marcelo

[Program.txt](https://github.com

[2016-08-19 20:16] hibri commented on #56
Hi Marcelo,
I'll take a look when I get back in two weeks. Have you looked at the limits of regexes in .Net ?

[2016-08-19 20:27] marceloinacio commented on #56
Not yet. But it is working with a 32K object of "A" character.
Maybe some encoded character is broking the Regex
We can work together if you want.
Tell me when you get back.
Thanks

-------- Original message --------
From: Hibri Marzook <notifications@github.com>
Date: 8/19/16 3:17 PM (GMT-06:00)
To: hibri/HttpMock <HttpMock@noreply.github.com>
Cc: Marcelo Marques Inacio <marceloinacio@hotmail.com

[2016-08-30 12:28] hibri commented on #56
Hi @marceloinacio

Were you reproduce this with a failing test  ?

[2016-08-30 12:28] hibri commented on #55
@ykeysergit I don't intend to put a constraint on the POST body.

[2016-08-30 12:28] #55 closed

[2016-09-15 12:18] seanamosw opened #57 "Dependency on NUnit"
These files have a dependency on NUnit for it's Assert.That(..) method:
RequestHandlerExpectExtensions.cs
RequestWasCalled.cs
RequestWasNotCalled.cs

For library consumers, they have to bring in NUnit even if they are using a different unit testing framework. This is a bit strange.

[2016-09-15 13:43] hibri commented on #57
Hi @seanamosw , it was intentional, when I first wrote the library, NUnit was what we used, it has worked in for most scenarios.
It's not idea however. I intend to remove the dependencies, and take a similar approach to Coypu.
https://github.com/featurist/coypu/tree/master/src/Coypu.NUnit

It needs some work. Happy to take a PR if you are up for the challenge. I'm busy with other projects at the m

[2016-10-05 17:17] lukasz-lysik opened #59 ".NET 4.0 support"
It looks like NuGet is build for .NET 4.5 (even though the folder in which assembly is suggests that this is build for .NET 4.0: packages\HttpMock.1.3.0\lib\net40\HttpMock.dll). Any way that can be fixed?

[2016-10-05 17:19] hibri commented on #59
Sure. Sorry didn't notice it. Can you send a PR if possible ?

[2016-10-06 13:22] lukasz-lysik commented on #59
Hi. Could you review please? https://github.com/hibri/HttpMock/pull/60

[2016-10-23 11:58] lukasz-lysik commented on #59
Hi @hibri. I've created another PR: https://github.com/hibri/HttpMock/pull/61

[2016-10-27 14:48] #59 closed

[2016-10-27 14:48] #56 closed

[2016-10-27 14:49] #52 closed

[2016-10-27 14:49] #51 closed

[2017-01-05 14:04] netchkin opened #63 "Assembly does not have a strong name."
when I reference HttpMock nuget package from a signed assembly, the following error appears during build:
CS8002	Referenced assembly 'HttpMock, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' does not have a strong name.

[2017-01-09 12:01] hibri commented on #63
Hi @netchkin
I won't be providing a signed assembly. If you need a signed assembly, feel free to compile from source.
Can you tell me more about your use case ?

[2017-01-09 12:13] netchkin commented on #63
Okay, thanks for the reply, my use case was that our corporate policy forces us to only use signed assemblies.

[2017-01-09 12:13] #63 closed

[2017-02-08 16:07] dwpoulos opened #64 "RequestHandler getBody() when multiple requests have been handled"
getBody() does a peek on the queue, so if we are testing multiple requests in a row getBody() will only return the first.  Example would be receiving an acknowledgement callback and then a result callback on the same url.
Would a getBody(int count) or List<string> getBodies()  or have getBody() do a dequeue make sense?
I haven't delved into it too much, so is there a way to define your own IReques

[2017-02-09 16:11] hibri commented on #64
Hi @dwpoulos,
getBodies() makes sense. It exposes the collection of recorded requests, for more operations, and won't be tied to the handler.
The queue doesn't make sense anymore. It would help to have it as a searchable List of some type.

[2017-03-14 23:45] jesaremi commented on #57
Please consider removing NUnit dependency. We don't use it at all. A mocking framework should work independent of the Unit testing framework.

[2017-03-15 11:06] hibri commented on #57
Hi @jesaremi It is in the plan, and to move the assertions to a separate library. NUnit is used to provide the assertions only. I don't want to pull it out right away, without giving an alternative because the features are in use.

[2017-03-15 15:42] jesaremi commented on #57
Thank you! Otherwise it's a really useful and intuitive framework. Thanks for creating it

[2017-03-15 20:22] jesaremi opened #66 "Some thread seems to be running after test ends"
I created a very simple test as shown below, At the end of it I get this:

System.AppDomainUnloadedException: Attempted to access an unloaded AppDomain. This can happen if the test(s) started a thread but did not stop it. Make sure that all the threads started by the test(s) are stopped before completion.

[code]

Is there a way to explicitly shutdown the server before exiting?
thanks

[2017-03-15 22:04] hibri commented on #66
You can call dispose, or wrap it in a using block
See https://github.com/hibri/HttpMock/blob/master/src/HttpMock/HttpServer.cs#L68

A better pattern is to reuse the stub, but call WithNewContext. I create the stub once per test fixture or in some cases once for the whole suite.

https://github.com/hibri/HttpMock/blob/master/src/HttpMock.Integration.Tests/MultipleTestsUsingTheSameStubServerAndDiffe

[2017-03-15 22:08] jesaremi commented on #66
I'm using VisualStudio Test.
Both methods produced the same error message:

[code]

[2017-03-16 10:27] hibri commented on #66
Thanks @jesaremi . I'll look into this over the weekend. I've only tested this with the NUnit TestRunner. First time I've had feedback from VS Test user.
Happy to accept a PR if you find the issue in the meantime.

[2017-03-27 10:10] hibri commented on #57
Hi @jesaremi @seanamosw,
I've published a new alpha package, removing the NUnit depedency. would love some feedback if this works on your projects before I publish a new 2.0 version.

Thanks

[2017-03-30 14:07] hibri commented on #57
Fixed in #67

[2017-03-30 14:07] #57 closed

[2017-04-18 14:41] karlomedallo opened #68 "WithNewContext baseUri not being used"
Looking at the code the baseUri parameter for WithNewContext is not being used. Apart from clearing the handlers in the request processor, what is the expectation when that is set? Should it start and listen to the new uri? Or is this an obsolete overload?

[2017-04-18 15:06] hibri commented on #68
Hi @karlomedallo this is an obsolete overload.

[2017-04-18 15:12] #68 closed

[2017-05-17 14:01] adamreeve opened #71 "Support matching on request headers"
It would be useful to be able to match a request header so that different responses could be returned depending on the header value. For example a different response could be configured for different values of the Accept-Language header. I'd be happy to implement this if you're OK with adding this feature.

[2017-05-17 15:16] hibri commented on #71
Hi @adamreeve I'd be happy to see an implementation for this.
Could you try out an initial PoC for this ?

[2017-05-19 10:26] #71 closed

[2017-06-14 10:19] marekstachura opened #73 "Kayak server not listening yet"
Hey,

I'm getting the ```System.InvalidOperationException : Kayak server not listening yet.``` - any idea what could be the issue?
I'm using the example from the readme file, and it is working just fine on my Mac, however on Windows, it looks like the Kayak servers is not starting... Turned off the Windows Firewall - the same issue.

Thanks,
Marek

[2017-06-14 14:27] hibri commented on #73
Hi Marek,
Could you try calling IsAvailable() right after you start the mock?
Which port are you trying to listen on and could you reproduce it in a test that I can run?
Which version of Windows are you on?

Thanks
Hibri

[2017-06-14 15:19] marekstachura commented on #73
Hi @hibri.

please see https://bitbucket.org/mstachura/httpmocksample
But, it is working now just fine, not sure what was the issue... :(
I changed the target framework from 4.5.1 to 4.6.2 - upgraded the log4net and removed the generated `<startup>` element from the app.config...
Not sure which step helped here... I can try to replicate this if you want, if not, let's just close it.

Thanks,
Marek

[2017-06-20 14:32] #73 closed

[2017-06-28 14:24] vinnakotars opened #74 "Request to put an example of how to mock POST request which contains BODY"
Hi,

Request you to put an example on the main page of how to mock POST request which contains BODY.
If there are any restrictions on placing it there, please mail me ravi.sankar.vinnakota@outlook.com

Thanks,
Ravi.

[2017-06-29 12:01] vasavisoma123 opened #75 "Getting NullReferenceException at httpserver.AssertWasCalled(x=>x.Get("/Hello") line"
could any one give provide information about the issue
Getting NullRefernceException at " httpserver.AssertWasCalled(x=>x.Get("/Hello")** " line.

[2017-06-29 12:53] hibri commented on #74
Hi @vinnakotars
There is an example here https://github.com/hibri/HttpMock/blob/master/src/HttpMock.Integration.Tests/HttpEndPointTests.cs#L44

[2017-06-29 12:54] hibri commented on #75
Hi @vasavisoma123 ,
Can you send me a test that reproduces the issue please?

Thanks

[2017-06-29 16:54] vasavisoma123 opened #76 "How to mock post request for uploading a 20MB document.."

[2017-06-29 17:45] vasavisoma123 opened #77 "Assert.That(requestBody, Is.EqualTo(expected)); getting NullReference Exception in this line."
https://github.com/hibri/HttpMock/blob/master/src/HttpMock.Integration.Tests/HttpEndPointTests.cs#L44
in this example for post

[2017-06-29 21:17] hibri commented on #77
Hi,
Can you give me more details on how you are running the tests?

[2017-06-30 04:22] vasavisoma123 commented on #77
created a console application and added all the package and running it.

[2017-06-30 05:00] vasavisoma123 commented on #77
I have taken UnitTestProject and executed the same line..Not getting any error.
Is this condtion only used in Unittestproject not in console application.could you pls clarify on this.

Thank you so much for the replies.

[2017-06-30 08:59] #42 closed

[2017-06-30 09:00] hibri commented on #76
Hi, can you explain more?
There are examples for mocking an HTTP POST with binary data

[2017-06-30 09:01] hibri commented on #77
There are no test specific conditions. Can you post your code sample?

[2017-06-30 15:07] #66 closed

[2017-06-30 15:08] #64 closed

[2017-06-30 15:16] hibri commented on #74
This is not possible, and I don't think this is correct to implement. The POST body can be binary or text, it won't be feasible to match on this.
What is the scenario you are testing?
if the code path you are testing makes only one post request then just one mock should suffice.

[2017-07-01 17:16] #75 closed

[2017-07-03 10:19] vasavisoma123 opened #79 "new WebClient().UploadString(("http://localhost:8080/api/v1/documents"), StudyId);"
Bit urgent:

**Getting The remote server returned an error 404 not found..could any help in this pls.**
study Id is a string .

the above 2 lines are giving problem.
string StudyId = "{TrialId : 223344}";
       string Result = "Object Id:    ,BaseObjectId";
       Dictionary<string, string> param = new Dictionary<string, string>()
       {
         {"admin", "lib"}

       };

       string filen

[2017-07-03 12:45] hibri commented on #79
What is your endpoint?
Can you turn on logging?

[2017-07-03 16:01] vasavisoma123 commented on #79
api/v1/documents this is my endpoint

[2017-07-03 16:06] hibri commented on #79
You've added .WithParams, but you don't pass in the params in your upload.
If you don't want the params to be considered i.e respond for all params, remove .WithParams

[2017-07-03 16:11] vasavisoma123 commented on #79
Accroding my scenario I want to send 2 params and one header and 2 body values..
params added in dictionary and as part of body one is file and another one is string library name

[2017-07-03 16:14] hibri commented on #79
You are setting up the stub to be very specific by giving the params, so the stub responds only to the exact url + parameter combination.

[2017-07-03 16:22] vasavisoma123 commented on #79
how to specify the params in  new WebClient().UploadString(("http://localhost:8080/api/v1/documents"), StudyId);  ie.,(("http://localhost:8080/api/v1/documents/?what I need to specify to mection params..If I correctly understand..
is this is correct what I have understood.

[2017-07-03 16:24] hibri commented on #79
https://msdn.microsoft.com/en-us/library/system.net.webclient(v=vs.110).aspx
Those are query string params so you'll need to add them in the query string

[2017-07-03 18:05] vasavisoma123 commented on #79
Hi Hibri Thank you so much for your help...
 new WebClient().QueryString = myNameValueCollection;  I have  added this line of code to add my params..

Exectued code and passed testcase..

Could you confirm whether it  correct or not.

 IHttpServer StubHttp;
        StubHttp = HttpMockRepository.At("http://localhost:8080");
      string StudyId = "{124}";
       string Result = "Object Id:    ,Base

[2017-07-04 07:05] #79 closed

[2017-07-04 08:15] vkmasters opened #80 "How can we mock response along with headers ?"
I am expecting a response along with the response header having eTag Value in it. How could it we achieve ?

[2017-07-04 09:07] hibri commented on #80
You can use AddHeaders when building a stub to return the headers you want. It's not etag specific.  You can add any header.
WithHeader is used to match a request header.

[2017-07-04 09:18] #77 closed

[2017-07-04 09:19] #76 closed

[2017-07-04 10:37] vkmasters commented on #80
Thanks hibri !

[2017-07-04 10:37] #80 closed

[2017-07-05 06:26] vinnakotars commented on #74
Hi Hibri,
I will try to do with the inputs you gave me. I will get back to you again after trying. The case I was referring was the post request is same, but body is different !

[2017-07-05 06:30] vinnakotars opened #81 "How to use HTTP Mock for the url containing query string?"
Hi,

I am facing issue while mocking the the request url containing query strings. e.g., url is given below.
https://localhost:xxxxx/api/menu?someName=someValue&someId=someIdValue

Is there any specific way to implement that?
Thanks in advance.

Regards,
Ravi.

[2017-07-06 13:38] vkmasters opened #82 ".Net Framework support Issue"
Hey,

I was trying to install HttpMock 2.1.0 on existing project that is targetted on .NETFramework,Version=v4.0,Profile=Client, I am getting below error:

Any solution or fix required in order to use this library with current targetted framework.
Let me know, how could i achieve this. ?

[2017-07-06 14:29] hibri commented on #82
Hi, It targets 4.5 and up so you'll have to upgrade your project to use it.

[2017-07-06 16:06] vasavisoma123 commented on #81
Hi Ravi,
try this ,it may help you
 NameValueCollection myNameValueCollection = new NameValueCollection();

        myNameValueCollection.Add("userid", "s")
        myNameValueCollection.Add("lib", "dPO");
new WebClient().QueryString = myNameValueCollection;

[2017-07-11 07:01] vasavisoma123 opened #83 "Hi ,Could any body explain the difference between WebClient,HttpWebRequest."
And also provide the info on HttpWebResponce

[2017-07-11 10:08] hibri commented on #83
Hi @vasavisoma123 ,
This question is suited more for StackOverflow than here.
https://stackoverflow.com/questions/1694388/webclient-vs-httpwebrequest-httpwebresponse

[2017-07-11 10:08] #83 closed

[2017-07-12 12:15] vinnakotars commented on #81
Hi,

Got solution. We need to use either .WithParams(dictionaryObject) for the stub or .WithUrlConstraint(url => url.Contains("?") && url.Contains("key=value")) , etc.

Thanks,
Ravi.

[2017-07-12 12:15] vinnakotars commented on #81
Hence closing.

[2017-07-12 12:15] #81 closed

[2017-09-08 12:58] secana commented on #37
Hi, stable version is available for some time. Would you mind to update? This nice project really need core support.

[2017-09-08 13:00] hibri commented on #37
Happy to take a PR for it :) Haven't had time to look into it to be honest.

[2017-11-13 12:36] kesot opened #87 "return IRequestVerify at the end of fluent api"
It'd be great if IRequestStub returned IRequestVerify on OK, WithStatus and NotFound.
Otherwise it's necessary either cast or use FindHandler

[2017-11-16 16:17] #82 closed

[2017-11-16 16:17] #74 closed

[2017-11-16 16:18] #87 closed

[2017-12-08 09:23] jonfinerty opened #90 "Ignore Headers when Matching"
Hi, I'm using this library to test my application and it works great, but it looks like in order to stub out an endpoint successfully I need to list all the headers that get sent in `WithHeaders`. Unfortunately our application sends out GUID correlation id's in the header so it's easy to predict their values.

Is it (or would it be) possible to stub out an endpoint ignoring any given headers?

[2017-12-08 11:00] jonfinerty commented on #90
I was just looking at doing a PR for this, but theres a question over intended behaviour when there's multiple stubs for the same endpoint with different headers.

A possible solution is:

It should try and match with the stub with the most correct headers, falling back to stubs which match fewer and then finally fall back to a stub without any headers.

[2017-12-08 14:32] hibri commented on #90
Hi @jonfinerty
The header match logic should return at the first match, does not need all headers.
https://github.com/hibri/HttpMock/blob/master/src/HttpMock/HeaderMatch.cs#L8

An approach would be to override the header matching logic to take a lambda, so you can inject your own custom logic.
Something like https://github.com/hibri/HttpMock/blob/master/src/HttpMock.Integration.Tests/StubConstrain

[2017-12-08 14:32] hibri commented on #90
If you have time could you send a PR with a failing test with this scenario?

[2017-12-11 13:41] jonfinerty commented on #90
sure, I'll try to find some time this week

[2017-12-11 15:41] jonfinerty commented on #90
Turns out we were adding a header with a null value, so I'm not sure what particularly was choking on that but we've fixed that bug in our application. Please close this issue if you want and if I find out something in HttpMock breaks on null headers I'll open a new issue/example test. Thanks and sorry for the mis-issue :)

[2017-12-11 15:43] hibri commented on #90
Thanks @jonfinerty . No worries :)

[2017-12-11 15:43] #90 closed

[2018-01-09 12:07] kos811 opened #91 "Request handler invokes 2 times"
Hi!

When i tried to use this library, i found some intresting issue: when i call a handler, it invokes twice.
This problem reproduces when i make a call with Fiddler, Postman or by Opera browser.

Sources of test:
[code]

![image](https://user-images.githubusercontent.com/5595120/34719997-170b5a38-f54e-11e7-9591-e0c6e0643567.png)

[2018-01-17 11:35] hibri commented on #91
Hi @kos811 , Thanks for reporting this. I haven't seen this issue before. Will have a look.
There is a test that checks for multiple invocations, and I haven't seen it fail yet.
https://github.com/hibri/HttpMock/blob/master/src/HttpMock.Integration.Tests/HttpExpectationTests.cs#L147

[2018-01-26 10:38] rubms opened #92 "URL matching with URLs containing regex reserved characters fail"
When a URL contains regular expression reserved characters that are valid in a URL (the parenthesis, for instance), `HttpMock` always decides that the provided URLs are not a match (even if they actually are).

The problem resides in `EndpointMatchingRule`, that compares the request URLs using regular expressions without escaping the URL.

## Steps to reproduce

* HTTP mock setup
[code]
* Input re

[2018-01-26 17:00] #92 closed

[2018-02-25 19:40] wilversings opened #95 "Require proxy authentication"
I'm thinking that it might be useful for the mock to simulate a corporate infrastructure, in which an authentication to proxy is required.
So if the mock is set up to require proxy authenticaiton, the client should include the `Proxy-Authorization` header, otherwise will get 407.
Might such a feature be needed?

[2018-02-25 20:40] hibri commented on #95
Thanks for suggesting this @wilversings , and it helps to understand the scenarios you are working with.

I'd like to keep HttpMock to help with mocking the behaviour of the API that the client is accessing. A proxy is **how** the clients accesses the API, and IMHO is a configuration concern.

If a mock for the proxy authentication is needed for every API call, the tests become littered with a moc

[2018-02-26 07:41] wilversings commented on #95
@hibri I understand, thanks for the reply!

[2018-02-26 16:38] #95 closed

[2018-02-27 15:42] DavidSSL commented on #91
Hi,

I've reproduced the problem as outlined by the original poster and using a modified version of the test you've referenced:
`[Test]

        public void Should_match_many_POST_requests_which_were_made_with_expected_body()

        {
            var _hostUrl = "http://localhost:9192";
            var stubHttp = HttpMockRepository.At(_hostUrl);

            stubHttp.Stub(x => x.Post("/endpoint/h

[2018-03-26 09:39] bacon1986 commented on #91
This is due to it calling the Func once to get the length of the body when it prepares the headers and then again to get the actual body of the response.

[2018-05-25 08:30] stigc opened #96 "How do I close / dispose the HttpMockRepository ?"

[2018-05-29 11:26] hibri commented on #96
Hi @stigc You can't dispose the HttpMockRepository as it's static class. I suggest disposing the IHttpServer instance that is returned by HttpMockRepository. This is what holds the TCP socket and and the stubs.
Wrap it in a using statement or dispose it in a TearDown.

[2018-05-29 13:41] stigc commented on #96
Thanks

[2018-05-29 13:41] #96 closed

[2018-06-04 08:17] stigc opened #97 "HttpServer.IsAvailable slows down testing"
If we create a new server and Disposes it after each test, HttpServer.IsAvailable() will pause for 5 seconds each time.

[2018-06-04 09:00] hibri commented on #97
Hi @stigc
I recommend not disposing the server after every test. The server listens on a socket, and this is an expensive resource, and closing a socket takes some time, and is not predictable. Hence the need to check if the socket is ready.

Don't dispose the server, but instead use .WithNewContext at the start of a test. This will clear out all existing handlers and stubs, but the server still k

[2018-10-25 14:15] malves opened #98 "Content-Type is always text/plain"
Hi,

I am doing some tests with HttpMock, for each response I receive the Content-Type header is set to text/plain. I have added .AddHeader("Content-Type", "text/html") to my setup to force the header to text/html but my header is overridden:

[code]

Is there a way to have the content-type header set to another value ?

Thank you

[2018-10-25 14:24] malves commented on #98
I did not see the AsContentType() method, it's working now.

Sorry

[2018-10-25 14:45] #98 closed

[2018-11-04 20:41] malves opened #99 "Add new type handler"
Hi,

I am trying to setup a stub to return en empty image when Chrome tries to get /favicon.ico:

server.Stub(x => x.Get("/favicon.ico"))
                .AsContentType("image/x-icon")
                .Return(favicon)
                .OK();

In my browser I have a 404 error, in the HTTP response header I see this key/value:

X-HttpMockError: No handler found to handle request

Is there a way to ad

[2018-11-05 13:42] hibri commented on #99
Hi @malves

I tried this in a test and it does work. See the example below. You don't need to add handlers for each type of request. HttpMock matches the URL and the request, that you've setup in the stub.
Can you turn on logging to see what the incoming request is?
https://github.com/hibri/HttpMock/blob/master/src/HttpMock.Integration.Tests/App.config
[code]

[2018-11-05 22:47] malves commented on #99
Hi @hibri

Thank you for your prompt reply and for your help :)

I have investigated the issue and I found what is going wrong. In your test, I suppose that _hostUrl parameter is a string. If I try the same test I also have the good behavior.

But if you send an Uri parameter instead of string, the test is not passing anymore:

[code]

[2018-11-06 12:31] hibri commented on #99
Found the issue :)

Uri.ToString() adds a trailing slash. This makes the request be "//favicon.ico" to HttpMock. This doesn't match the stub "/favicon.ico"
[code]
Changing the above to, makes it work.

[code]

Hope this helps. Will look into cleaning up the request later. Happy to accept a PR for it.

[2019-04-01 12:39] cross-apps opened #100 "Using "/api" in base url does not work"
Hi,

I was wondering why my mock server didn't return the correct response till I noticed that an attached "/api" or sth. at the end of the base url did not work.

`_testServer = HttpMockRepository.At("http://localhost:9011/api");`
`_testServer.Stub(s => s.Post("makeDonuts"))`
changed into
`_testServer = HttpMockRepository.At("http://localhost:9011");`
`_testServer.Stub(s => s.Post("/api/makeDonut

[2019-04-01 12:46] hibri commented on #100
Hi @cross-apps
This is expected. You setup the server and then mock the request paths to it.

[2019-04-01 12:53] cross-apps commented on #100
Yes but the server could be any url in my opinion. If I use a client for example there I can define a baseUrl which accepts a routing part as well.

[2019-04-01 13:09] hibri commented on #100
Thanks @cross-apps
I want to keep the server flexible so that it can handle multiple paths. The server can also be re-used between test fixtures. A TCP socket is an expensive resource, and it takes a while for the OS to release  the port. This delays the next test. We keep the server alive, but use new mocks with the same server.

Hope this helps.

[2019-04-01 13:11] cross-apps commented on #100
@hibri yeah this sounds great, thank you for your effort!

[2019-05-16 19:39] #100 closed

[2019-05-31 14:51] neiesc opened #102 "Get Body from the post and put method"
Is it possible to get Body from the post or put method?

[2019-06-03 11:17] hibri commented on #102
Hi @neiesc,
Can you give me a few more details on what you are trying to achieve?

[2019-06-03 14:12] neiesc commented on #102
An example:
![image](https://user-images.githubusercontent.com/251643/58808244-0be96080-85f0-11e9-82f0-6d1576e4db3f.png)
I would like to get the value of AcceptedWarnings in Return, type:
[code]

[2019-06-03 14:56] neiesc commented on #102
Cool, thanks!

I think, so

[2019-06-03 19:58] neiesc commented on #102
I tested it, `LastRequest` is getting the first request and not the last one. @hibri

[2019-06-03 21:13] hibri commented on #102
That's not what is expected. Sounds like a bug. Can you create a new issue with the failing test please?

Thanks

[2019-06-04 13:33] neiesc commented on #102
Of course.

[2019-06-04 13:33] #102 closed

[2019-06-04 14:26] neiesc opened #103 "The LastRequest is don't return the latest request"
Using the test:
[code]
Is the failled beacuse return `<xml><>response>First</response></xml>`

[2019-06-04 14:31] neiesc opened #104 "We could use the AAA Pattern"
https://medium.com/@pjbgf/title-testing-code-ocd-and-the-aaa-pattern-df453975ab80

What do you think?

[2019-06-04 14:37] neiesc commented on #103
This `GetBody` too return latest request?
[code]

[2019-06-04 14:38] hibri commented on #103
That's where the bug is. I've been meaning to change that to a list instead of a queue.

[2019-06-04 14:48] hibri commented on #104
The tests are written in that pattern, even if they are not explicitly called out.  :)

[2019-06-04 14:55] neiesc commented on #103
Hmmm, maybe it is a good idea, we could create a new issue to analyze this data structure.

[2019-06-04 15:03] neiesc commented on #104
I saw, but what do you think of being called AAA?

[2019-06-04 16:23] hibri commented on #104
I don't see the need to call it out via extra comments, as long as the test is structured in that way.

[2019-06-04 17:13] neiesc commented on #104
alright.

[2019-06-04 17:13] #104 closed

[2019-06-05 20:17] #103 closed

[2019-06-05 20:18] #99 closed

[2019-06-05 20:18] #97 closed

[2019-10-23 10:01] lieuchew opened #107 "Is this library supported for Xamarin.iOS?"
I tried to use this on iOS app (written using Xamarin.Forms). But whenever the app trigger HTTP web service call, it will return HTTP code 404, Server Not Found. The same code work fine for the Android app though.

[2019-10-23 10:34] hibri commented on #107
Hi @lieuchew,
This hasn't been tested with Xamarin.iOS. It's intended to run as part of a integration testing or acceptance testing suite and not as a library within applications.
What are you using the library for?

[2019-10-23 14:57] lieuchew commented on #107
Hi hibri,

I am using it to mock the HTTP web service during the UI test. Was hoping it works on the iOS app too as it's working fine for our Android app (coded with Xamarin.Forms for both iOS and Android)

Seems like the iOS isn't working, as far as I have tested...

[2019-10-25 14:55] hibri commented on #107
Could you reproduce the issue with a failing test?

[2020-03-16 04:47] MelbourneDeveloper commented on #37
@hibri a .NET Core version would be much appreciated.

[2020-03-16 05:15] MelbourneDeveloper commented on #37
@hibri I forked and branched from your library:

https://github.com/MelbourneDeveloper/HttpMock/tree/TargetNetStandard

There is no problem targeting .NET Standard with your code. The only problem is that Kayak is only built for .NET Framework, so someone would have to target .NET Standard in that project as well.

[2020-03-17 09:40] hibri commented on #37
thanks @MelbourneDeveloper Been looking into this but I'm time poor atm.  I intend to replace it with the HttpListener and remove the kayak dependency entirely

[2020-03-18 00:09] MelbourneDeveloper commented on #37
@hibri let me know if you want me to do a PR

[2020-03-18 09:29] hibri commented on #37
@MelbourneDeveloper Yup. I'd love one.
Happy to chat on gitter https://gitter.im/HttpMockChat/Lobby

[2020-03-19 10:27] #107 closed

[2020-03-19 10:27] #18 closed

[2020-04-09 10:18] Merx commented on #91
Hi, I still have the same issue that it is called twice when calling request.GetResponse(); just once.

[2020-04-09 10:38] Merx commented on #91
Here is the mini version of our test to reproduce the problem:
`
       [TestMethod]
        public void TestIfCalledMultipleTimes()
        {
            string serverAddress = "http://localhost:9195";
            string endpoint = "/someEndpoint";
            int callCounter = 0;

            // Setup http mock
            var httpMock = HttpMockRepository.At($"{serverAddress}");
            htt

[2020-04-20 12:36] hibri commented on #91
Thanks @Merx Re-opened this.